@page "/PeopleManagement"


<div class="PeopleManagementPage-SpecificContent MainLayout-DynamicContentFillingChildrenElement">
  
  <PeopleManager SpaceSeparatedAdditionalCSS_Classes="PeopleManagementPage-PeopleManager" />
  
  <PersonManager SpaceSeparatedAdditionalCSS_Classes="PeopleManagementPage-PersonManager"/>
  
</div>