include ../node_modules/@yamato-daiwa/frontend/Components.pug

include Cards/Person/PersonCard.pug
include Cards/Task/TaskCard.pug

include Controls/TasksFilteringPanel/TasksFilteringPanel.pug

include NavigationMenu/NavigationMenu.pug
  
include Managers/Person/PersonManager.pug
include Managers/Task/TaskManager.pug

include Viewers/Calendar/Month/MonthViewer.pug
include Viewers/People/PeopleViewer.pug
include Viewers/Tasks/TasksViewer.pug

include OnePerPage/Header/Header.pug
