mixin PeopleViewer(statesSimulations)

  - 
    /** 
     * @type {object}
     * @property {boolean} loading
     * @property {boolean} error
     * @property {boolean} noItems
     * @property {boolean} noSearchResults 
     */
    statesSimulations = statesSimulations ?? {}

  .PeopleViewer&attributes(attributes)

    .PeopleViewer-TopActionBar

      +SearchBox--YDF({
        placeholder: "名義や名前の読み方で検索"
      }).PeopleViewer-TopActionBar-SearchBox
      
      +Button--YDF.PeopleViewer-TopActionBar-ButtonForWideContainers
        +Person__Plus--YDF_Icon.Button--YDF-SVG_Icon
        span.Button--YDF-Label 新規連絡先追加
    
    if statesSimulations.loading

      .PeopleViewer-CardsFlow

        each cardNumber in Array.from(new Array(12).keys())

          +PersonCardLoadingPlaceholder
        
    else if statesSimulations.error

      +AdmonitionBlock--YDF({
        decoration: AdmonitionBlock__YDF.DecorativeVariations.error,
        hasPrependedSVG_Icon: true
      }).PeopleViewer-AdmonitionBlock

        p 情報取得中不具合が発生しました。

        +Button--YDF({
          label: "再試験",
        }).AdmonitionBlock--YDF-CenteredButton
        
    else if statesSimulations.noItems

      +AdmonitionBlock--YDF({
        decoration: AdmonitionBlock__YDF.DecorativeVariations.guidance,
        hasPrependedSVG_Icon: true
      }).PeopleViewer-AdmonitionBlock

        p 現在、人が一件も登録させていません。

        +Button--YDF({
          label: "早速登録しましょう！",
        }).AdmonitionBlock--YDF-CenteredButton
        
    else if statesSimulations.noSearchResults

      +AdmonitionBlock--YDF({
        decoration: AdmonitionBlock__YDF.DecorativeVariations.guidance,
        hasPrependedSVG_Icon: true
      }).PeopleViewer-AdmonitionBlock

        p 検索結果と合っている件はありません。

        +Button--YDF({
          HTML_Type: Button__YDF.HTML_Types.regular,
          label: "検索条件をリセット",
        }).AdmonitionBlock--YDF-CenteredButton

    else

      ul.PeopleViewer-CardsFlow

        each person in DummyData.People

          +PersonCard({
            person,
            rootElementTag: "li"
          })

          
    .PeopleViewer-BottomActionBarForNarrowContainers

      +Button--YDF
        +Person__Plus--YDF_Icon.Button--YDF-SVG_Icon
        span.Button--YDF-Label 新規連絡先追加
