@page "/PeopleManagement"


@using Client.SharedComponents.Viewers.People
@using Client.SharedComponents.Managers.Person


<div class="PeopleManagementPage-SpecificContent MainLayout-SpecificContentFillingElement">
  
  <PeopleViewer spaceSeparatedAdditionalCSS_Classes="PeopleManagementPage-PeopleViewer" />
  
  <PersonManager
    rootElementModifierCSS_Class=@($"PeopleManagementPage-PersonManager { personManagerAdditionalCSS_Class }")
    activationGuidance=@personManagerActivationGuidance
    targetPerson=@activePerson
  />
  
</div>