@page "/"


@using Client.SharedComponents.Controls.TasksFilteringPanel;
@using Client.SharedComponents.Viewers.Tasks
@using Client.SharedComponents.Managers.Task

@using Microsoft.AspNetCore.Components.Sections
@using Client.Pages.Task.Management.ModalDialogs
@using FrontEndFramework.Components.ModalDialogs.Common


<div class="TasksManagementPage-SpecificContent MainLayout-SpecificContentFillingElement">

	<TasksViewer 
		rootElementModifierCSS_Class="TasksManagementPage-TasksViewer"
		onClickTaskAddingButtonEventHandler=@onClickStartingOfNewTaskInputtingButton
	/>
  
	<TaskManager 
		rootElementModifierCSS_Class=@($"TasksManagementPage-TaskManager { taskManagerAdditionalCSS_Class }")
		activationGuidance=@localization.taskManagerActivationGuidance
		targetTask=@activeTask
		onInputtingDataOfNewTaskCompleteEventHandler=@onNewTaskInputtingCompleted
		onExistingTaskEditingCompleteEventHandler=@onExistingTaskEditingCompleted
		onDeleteTaskEventHandler=@onDeleteTask
		@ref=@taskManager
	/>
	
</div>

<SectionContent SectionName="FloatingAndFixedContent">
	
	<ModalDialog
		title=@localization.filteringModalDialog.title
		onInitializedEventCallback=@TasksFilteringModalDialogService.initialize
	>
		<TasksFilteringPanel />
	</ModalDialog>
	
</SectionContent>