@require "../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../node_modules/@yamato-daiwa/frontend/Components.styl"


MAIN_FONT_STACK = "Meiryo UI", sans-serif


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


// ━━━ .Blazor アプリ ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
#app

  height 100%
