extends ../../Layouts/Main/MainLayout.pug

block Data

  -
    const tabsData = {
      
      monthOverview: {
        tabHTML_ID: "MONTH_OVERVIEW--TAB",
        panelHTML_ID: "MONTH_OVERVIEW--TAB_PANEL",
        isInitiallySelected: true,
        label: "月"
      },
      weekOverview: {
        tabHTML_ID: "WEEK_OVERVIEW--TAB",
        panelHTML_ID: "WEEK_OVERVIEW--TAB_PANEL",
        isInitiallySelected: false,
        label: "週"
      },
      dayOverview: {
        tabHTML_ID: "DAY_OVERVIEW--TAB",
        panelHTML_ID: "DAY_OVERVIEW--TAB_PANEL",
        isInitiallySelected: false,
        label: "日"
      }
      
    };


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ja";
    HTML_PAGE_TITLE = "日読み ｜ やまとダイワ几帳面さ";

    styleSheetsURIs = [ "@All/Primer", "@All/ExternalComponents", "@All/Internals" ];


block append Requirements

  include ../../StaticPreview/_Requirements.pug


block append SpecificContent

  .CalendarPage-SpecificContent.MainLayout-SpecificContentFillingElement
    
    +TabsList--YDF({ accessibilityGuidance: "日読みの表示を選択する" }).CalendarPage-TabsList
      +Tab--YDF(tabsData.monthOverview)
      +Tab--YDF(tabsData.weekOverview)
      +Tab--YDF(tabsData.dayOverview)
      
    +TabPanel--YDF(tabsData.monthOverview).CalendarPage-TabPanel

      +MonthViewer().CalendarPage-MonthViewer
              
    //- === TODO =======================================================================================================
    +TabPanel--YDF(tabsData.weekOverview)
    
      //-
        
      
    +TabPanel--YDF(tabsData.dayOverview)

      h1.CalendarPage-SpecificContent 日付閲覧
      h2.CalendarPage-SpecificContent 時間連想課題
              
      h2.CalendarPage-SpecificContent 時間に結び付ていない課題
      
      //- ul.CalendarPage-SpecificContent
