mixin TaskCardLoadingPlaceholder

  .TaskCard.TaskCard__LoadingPlaceholder&attributes(attributes)

    .TaskCard-Checkbox.TaskCard-Checkbox__LoadingPlaceholder

    .TaskCard-Title.TaskCard-Title__LoadingPlaceholder

    .TaskCard-BadgesFlow

      each index in Array.from(new Array(2))
        
        +Badge--YDF-LoadingPlaceholder

    .TaskCard-Description.TaskCard-Description__LoadingPlaceholder
