.MainLayout

  WIDE_SCREENS_CONFIGURATION_MINIMAL_WIDTH = 500px

  WideScreensConfiguration()
    @media screen and (min-width: WIDE_SCREENS_CONFIGURATION_MINIMAL_WIDTH)
      {block}

  NarrowScreensConfiguration()
    @media screen and (max-width: WIDE_SCREENS_CONFIGURATION_MINIMAL_WIDTH - 1)
      {block}


  display grid
  grid-template-areas\
      "UPPER_FIXED_CONTENT_SLOT UPPER_FIXED_CONTENT_SLOT"\
      "SIDEBAR MAIN_CONTENT"
  grid-template-rows auto 1fr

  height 100%

  position relative


  +WideScreensConfiguration()

    grid-template-columns auto minmax(0, 1fr)


  +NarrowScreensConfiguration()

    grid-template-columns 0 minmax(0, 1fr)


  &-UpperFixedContentSlot

    grid-area UPPER_FIXED_CONTENT_SLOT

    
  &-HamburgerMenuButton

    +WideScreensConfiguration()
    
      visibility hidden


  &-Sidebar

    background-color: YDF_ColorPalette.deepSkyBlue.dark
    
    grid-area SIDEBAR


    +NarrowScreensConfiguration()

      overflow hidden


  &-SpecificContent

    container-type size
    
    overflow-y hidden


  &-SpecificContentFillingElement

    height 100%


  &-DrawerOverlay

    position fixed

    top 0
    bottom 0
    left 0
    right 0
    z-index: YDF_Configuration.zIndexes.drawers

    background rgba(black, 0.25)

    transition opacity 0.5s ease-in
    

  &-Drawer

    max-width NARROWEST_SCREEN_WIDTH_UNIT
    width 80%
    height 100%

    background ShadesOfGray__39ColorsW3C_Palette[8]
    box-shadow 0 4px 8px 4px rgba(black, 0.25)
    
    //transform translateX(-100%)

    
  &-ClosingDrawerButton
    
    position fixed
    top 10px
    right 10px

    z-index: YDF_Configuration.zIndexes.drawers + 1
