.TaskCard

  display grid
  grid-template-areas\
      "CHECKBOX TITLE"\
      "CHECKBOX BADGES_FLOW"\
      "CHECKBOX DESCRIPTION"

  grid-template-rows auto auto 1fr
  grid-template-columns auto minmax(0, 1fr)
  column-gap 12px
  align-items start

  border-radius 4px
  padding 12px

  background white
  box-shadow 0 0 3px 1px alpha(black, 0.25)


  &:hover

    box-shadow: 0 0 TaskCard.shadowThickness 2px YDF_ColorPalette.skyBlue.bright
    transition box-shadow 0.75s


  &:focus

    box-shadow: 0 0 TaskCard.shadowThickness 2px YDF_ColorPalette.skyBlue.light
    transition none


  &:active

    box-shadow: 0 0 TaskCard.shadowThickness 2px YDF_ColorPalette.skyBlue.mediumDark
    transition none


  &__DisabledState,
  &__LoadingPlaceholder

    pointer-events none


  &-Checkbox

    display flex

    cursor pointer

    grid-area CHECKBOX
    align-self center


    &:hover

      background-color: YDF_ColorPalette.skyBlue.pastelLight


    &:active

      background-color: YDF_ColorPalette.skyBlue.pastelBright


    +addLoadingPlaceholderModifierClass({
      width: 24px,
      height: 24px,
      borderRadius: 4px
    })

      pointer-events none


    &-Icon

      height 24px
      
      fill: ShadesOfGray__39ColorsW3C_Palette[16]


      ../:focus &

        box-shadow: 0 0 5px 2px YDF_ColorPalette.skyBlue.light
        
        
      /.TaskCard__DisabledState &
        
        fill: ShadesOfGray__39ColorsW3C_Palette[32]


  &-Title

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 16px,
      lineSpacing: 4px,
      mustAllowWordsBreakingAnywhere: true
    })

    font-weight bold
    color: ShadesOfGray__39ColorsW3C_Palette[16]

    grid-area TITLE


    +whenItGoingLast()

      grid-row span 3


    addLoadingPlaceholderModifierClass({
      width: 40%,
      height: 16px,
      borderRadius: 4px
    })


  &-BadgesFlow

    display flex
    flex-wrap wrap
    row-gap 4px
    column-gap 6px

    grid-area BADGES_FLOW
    margin-top 6px

    
    >*

      flex 0 0 auto


  &-Description

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 14px,
      lineSpacing: 4px,
      mustAllowWordsBreakingAnywhere: true
    })

    color: ShadesOfGray__39ColorsW3C_Palette[12]
    
    grid-area DESCRIPTION

    retireFrom({
      definitions:\
          (".TaskCard-Title" { y: 10px })\
          (".TaskCard-BadgesFlow" { y: 12px })
    })

    
    addLoadingPlaceholderModifierClass({
      width: 80%,
      height: 14px,
      borderRadius: 4px
    })
