@using FrontEndFramework.SVG_Icons.Lists
@using FrontEndFramework.SVG_Icons.Person


<nav class="NavigationMenu">
  
  <ul>
    
    <li>
      <NavLink
        class="NavigationMenu-Link"
        href="/"
        Match="NavLinkMatch.All"
        ActiveClass="NavigationMenu-Link__Current"
      >
        <ChecklistIcon rootElementModifierCSS_Class="NavigationMenu-Link-Icon" /> 
        <span class="NavigationMenu-Link-Label">課題</span>
      </NavLink>
    </li>
    
    <li>
      <NavLink
        class="NavigationMenu-Link"
        href="PeopleManagement"
        Match="NavLinkMatch.All"
        ActiveClass="NavigationMenu-Link__Current"
      >
        <PersonIcon__Clock__Rectangled__Filled rootElementModifierCSS_Class="NavigationMenu-Link-Icon" /> 
        <span class="NavigationMenu-Link-Label">人</span>
      </NavLink>
    </li>
    
  </ul>
  
</nav>