mixin PersonCardLoadingPlaceholder

  .PersonCard.PersonCard__LoadingPlaceholder&attributes(attributes)

    .PersonCard-Avatar.PersonCard-Avatar__LoadingPlaceholder

    .PersonCard-Metadata

      .PersonCard-Metadata-Value--LoadingPlaceholder-OfficialName
        
      .PersonCard-Metadata-Value--LoadingPlaceholder-OfficialNameSpell
     
      .PersonCard-Metadata-Key--LoadingPlaceholder.PersonCard-Metadata-Key--LoadingPlaceholder__Email
      .PersonCard-Metadata-Value--LoadingPlaceholder-Email
        
      .PersonCard-Metadata-Key--LoadingPlaceholder.PersonCard-Metadata-Key--LoadingPlaceholder__Phone
      .PersonCard-Metadata-Value--LoadingPlaceholder-Phone
