@using FrontEndFramework.SVG_Icons.MultiplicationSign;


<button 
  class="ClosingButton--YDF @rootElementModifierCSS_Class"
  type="button"
  @onclick=@onClick
>
  <MultiplicationSignIcon__Boxed__Filled rootElementModifierCSS_Class="ClosingButton--YDF-Icon" />
  <span class="ClosingButton--YDF-Label">Close</span>  
</button>
